[build]
  publish = "."
  functions = "netlify/functions"

[[redirects]]
  from = "/api/questions"
  to = "/.netlify/functions/questions"
  status = 200
  force = false

[[redirects]]
  from = "/api/submit"
  to = "/.netlify/functions/submit"
  status = 200
  force = false

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
  force = false

